<%- include("./includes/navbar.ejs"); %>

<div class="container">
  <br />
  <a href="addmaterial" class="btn blue">add material</a>
  <a href="./data.csv" download="data.csv" class="btn blue" id="csv">CSV</a>
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Preview</th>
        <th>State</th>
        <th>Price(/kg)</th>
        <th>Quantity(unit(s))</th>
        <th>Created on</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% obj.forEach(function(object, index){%>
      <tr>
        <td><%= object.name %></td>
        <td>
          <img
            src="<%= url[index] %>"
            alt="preview"
            style="height: 100px; width: 200px"
          />
        </td>
        <td><%= object.state %></td>
        <td>$&nbsp;<%= object.price %></td>
        <td><%= object.qty %></td>
        <td><%= object.created_on%></td>
        <td>
          <form action="/editmaterial/<%= object._id %>" method="GET">
            <input type="submit" class="btn green" value="edit" />
          </form>
        </td>
        <td>
          <form action="/deletematerial/<%= object._id %>" method="post">
            <input type="submit" class="btn red" value="del" />
          </form>
        </td>
        <td>
          <form action="/showmaterials/<%= object._id %>" method="post">
            <input type="submit" class="btn blue" value="watch" />
          </form>
        </td>
      </tr>
      <% });%>
    </tbody>
  </table>
  <br /><br />
  <script src="./js/download_csv.js"></script>
</div>
<%- include("./includes/footer.ejs")%>
