<%- include("./includes/navbar.ejs"); %>

<div class="container">
  <br />
  <a href="addmaterial" class="btn blue">add material</a>
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Preview</th>
        <th>State</th>
        <th>Price(per-kg)</th>
        <th>Quantity(unit(s))</th>
        <th>created on</th>
        <th><input type="button" class="btn blue round" id="csv" value="CSV"></input></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% obj.forEach(function(object){%>
      <tr>
        <td><%= object.name %></td>
        <td><img src="<%= url %>" alt="preview" style="height: 100px;"/></td>
        <td><%= object.state %></td>
        <td>$&nbsp;<%= object.price %></td>
        <td><%= object.qty %></td>
        <td><%= object.created_on%></td>
        <td>
          <form action="/editmaterial/<%= object._id %>" method="GET">
            <input type="submit" class="btn green" value="edit" />
          </form>
        </td>
        <td>
          <form action="/deletematerial/<%= object._id %>" method="post">
            <input type="submit" class="btn red" value="del" />
          </form>
        </td>
        <td>
          <form action="/showmaterials/<%= object._id %>" method="post">
            <input type="submit" class="btn blue" value="watch" />
          </form>
        </td>
      </tr>
      <% });%>
    </tbody>
  </table>
  <br /><br />
  <script src="./js/download_csv.js"></script>

</div>
<%- include("./includes/footer.ejs")%>
