<%- include("./includes/navbar.ejs"); %> 


<div class="container">
  <br />
  <a href="../suppliers" class="btn green">Go Back</a>
  <ul class="collection">
    <li class="collection-item"><b>Supplier id</b><br /><%= obj._id%></li>
    <li class="collection-item"><b>Company Name</b><br /><%= obj.cmpname%></li>
    <li class="collection-item"><b>Email Id</b><br /><%= obj.emailid%></li>
    <li class="collection-item"><b>Address</b><br /><%= obj.address%></li>
    <li class="collection-item"><b>Contactno</b><br /><%= obj.contactno%></li>
    <li class="collection-item"><b>State</b><br /><%= obj.state%></li>
    <li class="collection-item"><b>Cost Price</b><br />$<%= obj.costprice%></li>
    <li class="collection-item"><b>Quantity</b><br /><%= obj.qty%></li>
    <li class="collection-item">
      <b>Total expense</b><br />$&nbsp;<%= obj.costprice * obj.qty%>
    </li>
    <li class="collection-item"><b>Created on</b><br /><%= obj.created_on%></li>
  </ul>
</div>
<%- include("./includes/footer.ejs")%>
